ODY {
          font-family: Trebuchet MS;
          margin:20px;
          background-color: #600040;
        }

        H1 {
          text-align: center;
          padding-bottom: 30px;
          color: #000000
        }

        .myTimetable {
          width:100%;
          border-collapse: collapse;
          table-layout: fixed;
        }

        .myTimetable THEAD{
          color: #000000;

        }
        .myTimetable TH {
          border: 1px solid black;
          padding: 6px;
          text-align: center
        }
        .myTimetable TBODY {
          background-color: #C0C0C0;
        }

        .myTimetable TD {
          border: 1px solid black;
          padding: 6px;
          text-align: center;
        }
        .myTimetable TBODY TR TD:first-child {
          background-color: #FF0066;
          font-weight: bold;
        }

        .break, .lunch {
          background-color: #FF0066 !important;
          font-style: italic;
        }

        .subject {
          font-size: 12pt;
          margin-bottom:4px;
        }

        .room {
          font-size: 10pt;
          font-style: italic;

        }
       .bg-modal {
        width :100%;
        height :100%;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        justify-content:  center;
        align-items: center;
        display: none;
       }
       .modal-content {
         width: 500px;
         height :500px;
         background-color: white;
         opacity: 1;
         border-radius: 10px;
         text-align: center;
         padding: 20px;
         position: relative;
       }
       input {
         margin: 7px auto;
       }
       select {
         margin: 7px auto;
       }
       .close {
         position: absolute;
         top:0 ;
         right: 10px;
         font-size: 30px;
         transform: rotate(45deg);
         cursor: pointer;
       }
      .buttons a {
        margin: 50px;
        border-radius: 10px;
      }
      .buttons button {
        border-radius: 10px;
      }
      