{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="{% static "css_front/doc.css" %}">
  <link rel="stylesheet" href="{% static "css_front/datepickk.min.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/zenburn.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static "css_front/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static "css_front/all.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static "css_front/dataTables.bootstrap4.css" %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static "css_front/sb-admin.css" %}" rel="stylesheet">
    
    
  

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="index.html">Bachelor</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Emplois du temps</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Les filières :</h6>
            <a class="dropdown-item" href="/emploi_template/">Informatik</a>
            <a class="dropdown-item" href="register.html">Biomedizine</a>
            <a class="dropdown-item" href="forgot-password.html">Chimie</a>
          </div>

        </li>
    
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>

          <!-- Icon Cards-->
          <div class="row">
          
            <form method = "POST" action="/ListeAbsence/">
              {% csrf_token %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
            
           
            <div class="btn btn-secondary col-xl-4 col-sm-7 mb-2" style="margin:20px;">
              <img class="card-img-top" src=" {% static "/images/informatik.png"%}" alt="Card image cap">
              <input type="radio" name = "filiere" value="Informatik" autocomplete="off">
              <li class="nav-item dropdown">
              <br>
              <select class="btn dropdown-toggle" name="semester" >
                  <option value="1.0" class="dropdown-item">S1</option>
                  <option value="2.0" class="dropdown-item">S2</option>
                  <option value="3.0" class="dropdown-item">S3</option>
                  <option value="4.0" class="dropdown-item">S4</option>
                  <option value="5.0" class="dropdown-item">S5</option>
              </select>
              </li>   
            </div>


            <div class="btn btn-secondary col-xl-4 col-sm-7 mb-2" style="margin:20px;">
            <img class="card-img-top" src=" {% static "/images/BioMedical.jpg"%}" alt="Card image cap">
            <input type="radio" name = "filiere" value="Biomedizine" autocomplete="off">
              <li class="nav-item dropdown">
              <br>
              <select class="btn dropdown-toggle" name="semester" >
                  <option value="1.0" class="dropdown-item">S1</option>
                  <option value="2.0" class="dropdown-item">S2</option>
                  <option value="3.0" class="dropdown-item">S3</option>
                  <option value="4.0" class="dropdown-item">S4</option>
                  <option value="5.0" class="dropdown-item">S5</option>
              </select>
              </li>
             </div>
              

            <div class="btn btn-secondary col-xl-4 col-sm-7 mb-2" style="margin:20px;">
            <img class="card-img-top" src=" {% static "/images/Chimie.png"%}" alt="Card image cap">
            <input type="radio" name = "filiere" value="chimie" autocomplete="off">
                <li class="nav-item dropdown">
              <br>
              <select class="btn dropdown-toggle" name="semester" >
                  <option value="1.0" class="dropdown-item">S1</option>
                  <option value="2.0" class="dropdown-item">S2</option>
                  <option value="3.0" class="dropdown-item">S3</option>
                  <option value="4.0" class="dropdown-item">S4</option>
                  
              </select>
              </li>                
            </div>
            
            </div>
            
            <input type="submit" value="test">
            
            </form>
            
          </div>

          <!-- Area Chart Example -->
          
          <script src="{% static "js_front/datepickk.min.js" %}"></script>
          <script>hljs.initHighlightingOnLoad();</script>
          
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Area Chart Example</div>
            <div class="container">
              
        
        <div id="demoPicker"></div>
        <script>
          var now = new Date();
          var demoPicker = new Datepickk({
            container: document.querySelector('#demoPicker'),
            inline:true,
            range: true,
          });
        </script>      

            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
          

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table Example</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Sexe</th>
                      <th>Adresse</th>
                      <th>Telephone</th>
                      <th>Email</th>
                      <th>Filliere</th>
                      <th>Semestre</th>
                      <th>Heures d'Absence</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Sexe</th>
                      <th>Adresse</th>
                      <th>Telephone</th>
                      <th>Email</th>
                      <th>Filliere</th>
                      <th>Semestre</th>
                      <th>Heures d'Absence</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for student in all_students %}
                    <tr>
                      <td>{{student.Nom}}</td>
                      <td>{{student.Prenom}}</td>
                      <td>{{student.Sexe}}</td>
                      <td>{{student.Adresse}}</td>
                      <td>{{student.Telephone}}</td>
                      <td>{{student.Email}}</td>
                      <td>{{student.filliere}}</td>
                      <td>{{student.Semestre}}</td>
                      <td>{{student.HeuresAbsence}}</td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Your Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static "js_front/jquery.min.js" %}"></script>
    <script src="{% static "js_front/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "js_front/jquery.easing.min.js" %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static "js_front/Chart.min.js"  %}" ></script>
    <script src="{% static "js_front/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/dataTables.bootstrap4.js" %}" ></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static "js_front/sb-admin.min.js" %}"></script>

    <!-- Demo scripts for this page-->
    <script src="{% static "js_front/datatables-demo.js" %}"></script>
    <script src="{% static "js_front/chart-area-demo.js" %}"></script>
    
    <!-- Core plugin JavaScript-->
  </body>

</html>
