<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Liste d'absence</title>
</head>
<body>
	<center>
		<p class="h2">
			<b>{{filiere}} - Semestre {{semester}}</b>
		</p>
	</center>
	<HR width=75%>

	<form method = "post" action = "/SubmitAbsence/">
	{% csrf_token %}
		<table class="table table-borderless">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Matieres<br>Date
					</th>
					<th scope="col">Matieres<br>Date
					</th>
					<th scope="col">Matieres<br>Date
					</th>
					<th scope="col">Matieres<br>Date
					</th>
				</tr>
			</thead>
			<tbody>
				{% for students in students %}
				<tr>
					<th scope="row">{{students.Nom}} {{students.Prenom}}</th>
					<td><input type="checkbox" name = "mat1" value = {{students.id}} /></td>
					<td><input type="checkbox" name = "mat2" value = {{students.id}} /></td>
					<td><input type="checkbox" name = "mat3" value = {{students.id}} /></td>
					<td><input type="checkbox" name = "mat4" value = {{students.id}} /></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>

		<HR width=75%>
		<center>
			<button type="submit" class="btn btn-primary btn-lg ">Submit</button>
			<input id="cancel" type="reset" class="btn btn-secondary btn-lg" value="Cancel"></input>
		</center>
	</form>

	<br />
	<br />

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>