{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Login</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static "css_login/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static "css_login/all.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static "css_login/dataTables.bootstrap4.css" %}" rel="stylesheet">
    <link href="{% static "css_login/sb-admin.css" %}" rel="stylesheet">
  </head>
  <body class="bg-dark">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form method="Post" action="Acceuil/">
            {% csrf_token %}
            <div class="form-group">
              <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" name="email">
                <label for="inputEmail">Email address</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" name="password">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <div >
                  <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Register an Account</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static "js_login/jquery.min.js" %}"></script>
    <script src="{% static "js_login/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "js_login/jquery.easing.min.js" %}"></script>

  </body>

</html>