{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <title>SB Admin - Blank Page</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static "css_emploi/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static "css_emploi/all.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{% static "css_emploi/dataTables.bootstrap4.css" %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static "css_emploi/sb-admin.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "schedule-template-master/css/reset.css" %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static "schedule-template-master/css/style.css" %}"> <!-- Resource style -->
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <a class="navbar-brand mr-1" href="index.html">Start Bootstrap</a>
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item active" href="blank.html">Blank Page</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>
      </ul>
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
          <!-- Page Content -->
          <div class="cd-schedule loading">
             <div class="timeline">
                <ul>
                  <li><span>08:00</span></li>
                  <li><span></span></li>
                  <li><span>10:15</span></li>
                  <li><span></span></li>
                  <li><span>12:15</span></li>
                  <li><span></span></li>
                  <li><span>14:00</span></li>
                  <li><span></span></li>
                  <li><span>16:15</span></li>
                  <li><span></span></li>
                  <li><span>18:15</span></li>
                  <li><span>18:15</span></li>
                </ul>
             </div>
    <div class="events">
    <ul>
      <li class="events-group">
        <div class="top-info"><span>Monday</span></div>

        <ul>
          <li class="single-event" data-start="08:00" data-end="10:15" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Architecture des ordinateurs</em>
            </a>
          </li>
        </ul>
      </li>
      <li class="events-group">
        <div class="top-info"><span>Tuesday</span></div>

       <!-- <ul>
          <li class="single-event" data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Rowing Workout</em>
            </a>
          </li>

          <li class="single-event" data-start="11:30" data-end="13:00"  data-content="event-restorative-yoga" data-event="event-4">
            <a href="#0">
              <em class="event-name">Restorative Yoga</em>
            </a>
          </li>

          <li class="single-event" data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Abs Circuit</em>
            </a>
          </li>

          <li class="single-event" data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Yoga Level 1</em>
            </a>
          </li>
        </ul>-->
      </li>

      <li class="events-group">
        <div class="top-info"><span>Wednesday</span></div>

       <!-- <ul>
          <li class="single-event" data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4">
            <a href="#0">
              <em class="event-name">Restorative Yoga</em>
            </a>
          </li>

          <li class="single-event" data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Yoga Level 1</em>
            </a>
          </li>

          <li class="single-event" data-start="12:00" data-end="13:45"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Rowing Workout</em>
            </a>
          </li>

          <li class="single-event" data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Yoga Level 1</em>
            </a>
          </li>
        </ul>-->
      </li>

      <li class="events-group">
        <div class="top-info"><span>Thursday</span></div>

          <!-- <ul>
       <li class="single-event" data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Abs Circuit</em>
            </a>
          </li>

          <li class="single-event" data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4">
            <a href="#0">
              <em class="event-name">Restorative Yoga</em>
            </a>
          </li>

          <li class="single-event" data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Abs Circuit</em>
            </a>
          </li>

          <li class="single-event" data-start="17:00" data-end="18:30"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Rowing Workout</em>
            </a>
          </li>
        </ul>-->
      </li>

      <li class="events-group">
        <div class="top-info"><span>Friday</span></div>

       <!-- <ul>
          <li class="single-event" data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2">
            <a href="#0">
              <em class="event-name">Rowing Workout</em>
            </a>
          </li>

          <li class="single-event" data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1">
            <a href="#0">
              <em class="event-name">Abs Circuit</em>
            </a>
          </li>

          <li class="single-event" data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3">
            <a href="#0">
              <em class="event-name">Yoga Level 1</em>
            </a>
          </li>
        </ul>-->
      </li>
       </div>
    </ul>
  </div>
        <!-- .timeline --
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Team Bachelor</span>
            </div>
          </div>
        </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src=" {% static "js_emploi/jquery.min.js" %}"></script>
    <script src=" {% static "js_emploi/bootstrap.bundle.min.js" %}"></script>
    <!-- Core plugin JavaScript-->
    <script src=" {% static  "js_emploi/jquery.easing.min.js"%}"></script>
    <!-- Custom scripts for all pages-->
    <script src=" {% static  "js_emploi/sb-admin.min.js" %}"></script>
    <script src="{% static "schedule-template-master/js/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
       if( !window.jQuery ) document.write('<script src="{% static "schedule-template-master/js/jquery-3.0.0.min.js"}"><\/script>');
    </script>
    <script src="{% static "schedule-template-master/js/main.js" %}"></script> <!-- Resource jQuery -->
  </body>
</html>