{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
    <title>SB Admin - Blank Page</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static "css_emploi/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static "css_emploi/all.min.css" %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{% static "css_emploi/dataTables.bootstrap4.css" %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static "css_emploi/sb-admin.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "schedule-template-master/css/reset.css" %}"> 
    <link href="{% static "css_emploi/styleS.css" %}" rel="stylesheet">
    <style type="text/css">
         ODY {
          font-family: Trebuchet MS;
          margin:20px;
          background-color: #600040;
        }

        H1 {
          text-align: center;
          padding-bottom: 30px;
          color: #000000
        }

        .myTimetable {
          width:100%;
          border-collapse: collapse;
          table-layout: fixed;
        }

        .myTimetable THEAD{
          color: #000000;
        }
        .myTimetable TH {
          border: 1px solid black;
          padding: 6px;
          text-align: center
        }
        .myTimetable TBODY {
          background-color: #C0C0C0;
        }

        .myTimetable TD {
          border: 1px solid black;
          padding: 6px;
          text-align: center;
          cursor: pointer;
        }
        .myTimetable TBODY TR TD:first-child {
          background-color: #FF0066;
          font-weight: bold;
        }
        tr:first-child td:first-child { border-top-left-radius: 10px;}
        tr:last-child td:first-child { border-bottom-left-radius: 10px; }
        tr:last-child td:last-child { border-bottom-right-radius: 10px; }
        .break, .lunch {
          background-color: #FF0066 !important;
          font-style: italic;
        }
        .subject {
          font-size: 12pt;
          margin-bottom:4px;
        }
        .room {
          font-size: 10pt;
          font-style: italic;
        }
       .bg-modal {
        width :100%;
        height :100%;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        justify-content:  center;
        align-items: center;
        display: none;
       }
       .modal-content {
         width: 500px;
         height :500px;
         background-color: white;
         opacity: 1;
         border-radius: 10px;
         text-align: center;
         padding: 20px;
         position: relative;
       }
       input {
         margin: 7px auto;
       }
       select {
         margin: 7px auto;
       }
       .close {
         position: absolute;
         top:0 ;
         right: 10px;
         font-size: 30px;
         transform: rotate(45deg);
         cursor: pointer;
       }
      .buttons a {
        margin: 50px;
        border-radius: 10px;
      }
      .buttons button {
        border-radius: 10px;
      }
 </style>
<body id="page-top">
  <!-- Modal Section -->
  <div class="bg-modal">
    <div class="modal-content">
      <div class="close">+</div>
        <form class="contact-form" action="/submission/" method="post">
          {% csrf_token %}
           <div class="form-group">
             <label>Jour :</label>
             <select class="custom-select"  name="jour" id="id_jour" >
                <option  selected  >Choisir votre Jour</option>
                {% for jour in Jours %}
                <option value={{ jour.id }}  > {{ jour.nom_Jour }}</option>
                {%endfor%}
            </select>           
           </div>
           <div class="form-group" id="WHT">
            <label>Horaire :</label>
            <select class="custom-select"  name="horaire" id="id_horaire" >
                <option  selected  >Choisir votre crenau</option>
                {% for horaire in all_horaires %}
                <option value={{ horaire.id }}  > {{ horaire.horaire }}</option>
                {%endfor%}
            </select>
           </div>
           <div class="form-group">
             <label>La salle :</label>
             <select class="custom-select"  name="salle" id="id_salles">
                <option selected>Choisir votre Salle</option>
                {% for salleu in all_salles %}
                <option value={{ salleu.id }}>{{ salleu.numero }}</option>
                {% endfor %}
             </select>
           </div>           
           <div class="form-group">
             <label>Le professeur :</label>
             <input type="text" class="form-control" name="Prof" placeholder="Entrez le professeur...">
           </div>
           <div class="form-group">
             <label>La matière :</label>
             <input type="text" class="form-control" name="matière"placeholder="Entrez la matière...">
           </div>
           <div class="buttons">
                  <button type="submit" class="btn btn-dark">Ajouter</button>
          </div>
        </form>         
    </div>

  </div>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      <a class="navbar-brand mr-1" href="index.html">Bachelor</a>
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="login.html">Login</a>
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="404.html">404 Page</a>
            <a class="dropdown-item active" href="blank.html">Blank Page</a>
          </div>
        </li>
      </ul>
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
          <!-- Page Content -->
         <div id ="HTMLtoPDF"> 
          <H1>Emploi du temps </H1>
          <TABLE class="myTimetable" > 
            <THEAD>
              <TR>
                <TH></TH>
                {% for horaire in Horaires %}
                <TH class="Horaires" id={{ horaire.id }}>{{ horaire.horaire }}</TH>
                {% endfor %}
              </TR>
            </THEAD>
            <TBODY> 
              {% for jour in Jours %}
              <TR>
                <TD>{{ jour.nom_Jour }}</TD>
                {% for crenau in Crenaus %}
                {% if crenau.Jour == jour %}
                <form action="supprimer" >
                <TD >
                  <div class="subject">{{ crenau.Matiere }}</div>
                  <div class="room">{{ crenau.salle }}</div>
                  <div class="professeur">{{ crenau.Professeur }}</div>
                </TD>  
                </form>
                {% endif%}          
                {% endfor %}              
              </TR>
              {% endfor %}      
             </TBODY>
            </TABLE>
            </div>
          <div class="buttons">
           <a  href="#" class="btn btn-dark" onclick="HTMLtoPDF()">Download to pdf</a>
           <a  href="#" id="button" class="btn btn-dark">Nouveau crenau</a>
           </div>
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span> Copyright © Team Bachelor </span>
            </div>
          </div>
        </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <script type="text/javascript">
    document.getElementById('button').addEventListener('click',function(){document.querySelector('.bg-modal').style.display='flex';});
    document.querySelector('.close').addEventListener('click',function(){
      document.querySelector('.bg-modal').style.display='none';});
      </script>

  	<script src=" {% static "js_emploi/jquery.min.js" %} "></script>
    <script src=" {% static "js_emploi/bootstrap.bundle.min.js" %} "></script>
    <!-- Core plugin JavaScript-->
    <script src=" {% static  "js_emploi/jquery.easing.min.js"%} "></script>
    <!-- Custom scripts for all pages-->
    <script src=" {% static  "js_emploi/sb-admin.min.js" %} "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src=" {% static  "HTML-to-PDF-master/js/jquery-2.1.3.js" %} "></script>
    <script src=" {% static  "HTML-to-PDF-master/js/jspdf.js" %} "></script>
    <script src=" {% static  "HTML-to-PDF-master/js/pdfFromHTML.js" %} "></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script >
        $("#id_salles").change(function ()
         {
          var horaire =  $("#id_horaire").val();
         
          var Jour = $("#id_jour").val();
      
          var Salle_choisie = $("#id_salles").val();
        
          $.ajax(
            {
            url:'/Check',
            method: 'GET',
            data:
            { 
              'Horaire':horaire,
              'Jour' : Jour,
              'Salle_choisie':Salle_choisie,
            },
            success: function (data)
            {   
                if (data.is_not_taken) {
                }else{
                     alert("Cette salle n'est pas libre!");
                }
            }
        });
        });
      </script>
</body>
</html>
